*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF;
    color: #202124;
}
.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 200px;
    padding: 30px;
    gap: 25px;
}
a{
    font-size: 16px;
    text-decoration: none;
    color: #70757a;   
}
.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 60px;
}
.gmail:hover{
    background-color: #f1f3f4;
    border-radius: 8px;
}
.Google{
    display: flex;
    justify-content: center;
    font-size: 120px;
    font-weight:800;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, arial, sans-serif;
    margin-bottom: 35px;
}
.Google .g{
    color: #4285f4;
}
.Google .o{
    color: #ea4335;
}
.Google .o1{
    color: #fbbc05;
}
.Google .g1{
    color: #4285f4;
}
.Google .l{
    color: #34a853;
}
.Google .e{
    color: #ea4335;
}
.label{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.label input{
    padding-left: 18px;
    height: 43px;
    border-radius: 30px;
    width: 650px;
    font-size: 25px;
    font-weight: 100;
    border: 1px solid rgba(211, 211, 211, 0.577);
}
input:hover{
    border-color: #699ae7;
}
input:focus{
    outline-color: #6da3ef;
}
.button{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.button button{   
    height: 25px;
    width: 145px;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}
button:hover{
    border: none;
    color: rgb(48, 172, 87);
    box-shadow: 2px 2px 2px 1px #aeaeae;
    background-color: #f1f1f4;   
}
.infos{
    padding: 30px;
    text-align: center;
    line-height: 22px;
}
@media (max-width: 768px) {
    .nav{
        justify-content: center;
        margin: 0;
    }
    .Google{
        font-size: 85px;
        justify-content: center;
    }
    .label input{
        width: 390px;
    }
}
@media (max-width: 320px) {
    .Google{
        font-size: 75px;
    }
    .label input{
        width: 250px;
        height: 28px;
        font-size: 15px;
    }
}
@media (max-width: 225px) {
    .Google{
        font-size: 35px;
    }
    .label input{
        width: 150px;
        height: 18px;
        font-size: 10px;
    }
    .button{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 130px) {
    .Google{
        font-size: 35px;
    }
    .label input{
        width: 140px;
        height: 15px;
        font-size: 15px;
    }
}
